::root{
    --green-: #54be90;
    --white: #fff;
    --light-grey: #ebebeb;
    --text-grey: #444;
    --dark-grey: #232323;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;

}
h2{
    font-size: 2rem;
    text-transform: uppercase;
}
/* header styles*/
nav{
    width: 100%;
    background-color: #232323;
    padding-left: 30px;
    padding-right: 10px;
}
.logo {
    display: inline-block;
  }
.logo img{
    width: 30px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-item a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
}
.nav-item:hover {
    background-color: white;
}
.nav-item:hover a {
    color: darkgreen;
} 
.logo img {
    width: 50px;
    vertical-align: middle;
    padding: 10px;
}
/* header section*/
.header{
    height: 600px;
    background: url(img/paul-gilmore-KT3WlrL_bsg-unsplash.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.header_contain h1{
    font-size: 3rem;
    margin-bottom: 5px;
}
.name_underline{
    color: #54be90;
    display: inline-block;
    border-bottom: 7px solid white;
}
/* services section*/
.extra {
    width: 80%;
    margin: 4rem auto;
    text-align: center;
    font-size: 1.05rem;
    display: block;
}
.services{
    display: flex;
    background-color: #232323;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.service{
    width: 20%;

}
.circle{
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 50%;
    margin: -4rem auto 2rem auto;
    margin-top: -4rem;
}
.service h3{
    color: #54be90;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 900;
}
.service p{
    margin: 2rem 1rem 3rem;
    font-weight: 400;
}
/* contact form section*/
#contact_me, form{
    background-color:#54be90;
}
#contact_me h2{
    margin-bottom: 20px;
}
button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #122293;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container {
    margin: 0 auto;
    max-width: 650px;
    max-height: 950px;
    position: relative;
    width: 100%;
    padding: 100px 0
    
  }
  
  form {
    padding: 45px;
  }
  
  .email {
      float: left;
      width: 45%;
  }
  .phone {
    float: right;
    width: 45%;
}
  
  input[type='text'], [type='email'], textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #122293;
      color: #122293;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      width: 100%;
      box-sizing: border-box;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .first_name {
      float: left;
      width: 45%;
  }
  .last_name {
    float: right;
    width: 45%;
}
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #122293;
  }
  
  #form_button {
    background: none;
    border: solid 2px #122293;
    color: #122293;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
  }
  
  .submit {
    text-align: center;
  }
  
  #form_button:hover {
    background: #122293;
    color: #ffffff;
  }